
@font-face {
    font-family: "gagalin";
    src: url("../fonts/gagalin/Gagalin-Regular.woff") format("woff"),
         url("../fonts/gagalin/Gagalin-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: "lifehack";
    src: url("../fonts/Lifehack_Medium.woff") format("woff"),
         url("../fonts/Lifehack_Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: "ubuntubold";
    src: url("../fonts/ubuntu/Ubuntu-B.woff") format("woff"),
         url("../fonts/ubuntu/Ubuntu-B.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}




@font-face {
    font-family: "ubuntumedium";
    src: url("../fonts/ubuntu/Ubuntu-Medium.woff") format("woff"),
         url("../fonts/ubuntu/Ubuntu-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "ubunturegular";
    src: url("../fonts/ubuntu/Ubuntu-Regular.woff") format("woff"),
        url("../fonts/ubuntu/Ubuntu-Regular.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

