
@font-face {
    font-family: 'gagalin';
    src: url('../fonts/Gagalin/gagalin-regular-webfont.woff2') format('woff2'),
         url('../fonts/Gagalin/gagalin-regular-webfont.woff') format('woff'),
         url('../fonts/Gagalin/Gagalin-Regular.otf') format('opentype')
         url('../fonts/Gagalin/gagalin-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lifehack';
    src: url('../fonts/lifehack_medium-webfont.woff2') format('woff2'),
         url('../fonts/lifehack_medium-webfont.woff') format('woff'),
         url('../fonts/Lifehack Medium.otf') format('opentype')
         url('../fonts/lifehack_medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: "ubuntu", sans-serif;
    src: url('../fonts/Ubuntu/ubuntu-light-webfont.woff2') format('woff2'),
         url('../fonts/Ubuntu/ubuntu-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: "ubuntu", sans-serif;
    src: url('../fonts/Ubuntu/ubuntu-medium-webfont.woff2') format('woff2'),
         url('../fonts/Ubuntu/ubuntu-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: "ubuntu", sans-serif;
    src: url('../fonts/Ubuntu/ubuntu-regular-webfont.woff2') format('woff2'),
         url('../fonts/Ubuntu/ubuntu-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: "ubuntu", sans-serif;
    src: url('../fonts/Ubuntu/ubuntu-b-webfont.woff2') format('woff2'),
         url('../fonts/Ubuntu/ubuntu-b-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}