@charset "UTF-8";

@import "../scss/config/_mixins.scss";



* {
  color: white;
  margin: 0;
  padding: 0;
  outline-width: 0px; }

body, html, main, .wrapper, .container {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: 0;
  margin: 0; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 940px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.container_space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; 
}

.section__title {
  font-family: "gagalin";
  font-weight: normal;
  font-style: normal;
  color: #f9b43b;
  font-size: 4.5rem;
}

/* Мы */
.first-block {
  background: url("../img/bg/bgfirst.jpg") no-repeat;
  background-size: cover; }

.section {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-height: rem(650px);
  overflow: hidden;
}

.header {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: rem(13px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }


  /* Telephone navigation */
.navigation__menu-active__telephone {
  height: 100vh;
  position: absolute;
  background-color: #2f3234;
  width: 100%;
  opacity: 0.99;
  display: flex;
  flex-flow: nowrap column;
  align-items: flex-start;
  padding: rem(20px);
  box-sizing: border-box;
  z-index: 10;
}

.header-telephone {
  display: flex;
  width: 100%;
}

.header__logo-telephone {
  width: 50%;
}

.navigation__exit-telephone__wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation__exit-telephone {
  width: rem(25px);
  height: rem(32px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1.5625rem;
  transform: rotate(45deg)
}

.navigation__exit-telephone:hover {
  cursor: pointer; }

.navigation__exit-telephone__content {
  width: rem(25px);
  height: rem(4px);
  border-radius: 3px;
  background-color: #c1c2c2;
  position: relative; }

.navigation__exit-telephone__content::before {
  content: "";
  width: rem(25px);
  height: rem(4px);
  border-radius: 3px;
  background-color: #c1c2c2;
  position: absolute;
  transform: rotate(-90deg)
}

.navigation-telephone {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.navigation__item-telephone {
  margin-bottom: rem(30px);
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navigation__item-link-telephone {
  text-decoration: none;
  font-family: "ubuntulight";
  font-size: 1.5rem;
  line-height: 2.5rem; }

.navigation__item-telephone::before {
  content: "•";
  width: 1.25rem;
  height: 1.25rem;
  font-size: rem(20px);
  margin-bottom:rem(30px);
 }

.navigation__item-telephone:first-child::before {
  display: none;
 }



/* Telephone navigation end*/
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1rem; }

.navigation__list li {
  list-style-type: none;
  margin-left: rem(10px); }

.navigation__item-link {
  text-decoration: none;
  font-family: "ubuntumedium";
  font-size: 0.8125rem; }

.navigation__item::before {
  content: "•";
  width: rem(20px);
  height: rem(20px);
  margin-right: rem(10px); }

.navigation__item:hover, .navigation__buy:hover, .navigation-bar__item:hover {
  cursor: pointer; }

.navigation__item:first-child::before {
  display: none; }

.navigation__burger-menu-wrapper {
  width: 25px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: rem(25px);
  display: none;
}

.navigation__burger-menu-wrapper:hover {
  cursor: pointer;
}

.navigation__burger-menu {
  width: 25px;
  height: 4px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
}

.burger-menu__content::before {
  content: "";
  width: 25px;
  height: 4px;
  border-radius: 3px;
  background-color: #fff;
  position: absolute;
  top: -10px;
}

.burger-menu__content::after {
  content: "";
  width: 25px;
  height: 4px;
  border-radius: 3px;
  background-color: #fff;
  position: absolute;
  top: 10px;
}

.button {
  padding: rem(13px) rem(17px);
  font-family: "ubuntumedium";
  font-size: 0.8125rem;
  outline: none;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.first-block__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; 
  width: 100%;
}

.first-block__desc-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 55%;
}

.first-block__desc-img {
  width: 44%;
}

.title_orange {
  color: #f9b43b; }

.first-block__desc-title-continue {
  font-family: "lifehack";
  font-weight: normal;
  font-style: normal;
  font-size: rem(65px); }

.arrow-scroll {
  margin-bottom: rem(20px); }

.arrow-scroll:hover {
  cursor: pointer; }

.navigation-bar__item {
  position: relative;
  font-size: rem(20px);
  list-style-type: none; }

.navigation-bar__item::after {
  content: "•";
  width: 20px;
  height: 20px;
  display: block;
}

.navigation-bar__item::before {
  opacity: 0;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: -2px; }

.navigation-bar__item:nth-child(1)::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: -2px;
  opacity: 1; }

.navigation-bar__item:hover::before {
  opacity: 1; }

.navigation-bar {
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 100; }

.button_orange {
  background-color: #e45028;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.button_orange:hover {
  background-color: #c1401e; }

/* О нас */
.features-block {
  background: url(../img/bg/bgfeatures.jpg);
  background-size: cover;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.title_gray {
  color: #2f3234;
  margin-bottom: rem(30px);
}

.features-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; 
  justify-content: space-between;
}

.features-block__item {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 33%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start; }

.features-block__item-title {
  color: #2f3234;
  font-family: "lifehack";
  font-weight: normal;
  font-style: normal;
  margin: rem(30px) 0 rem(20px) 0;
  font-size: rem(24px); }

.features-block__img-wrapper {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-block__desc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-block__item-desc {
  color: #2f3234;
  font-family: "ubunturegular";
  font-weight: 200;
  font-style: normal;
  font-size: rem(14px);
  text-align: center;
  line-height: rem(24px); }

/* Отзывы */
.reviews-block {
  width: 100%; }

.reviews-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }

.reviews-block__item {
  list-style-type: none;
  width: 25%;
  height: 50%;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative; }

.review-block__item-photo {
  height: 100%;
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: no-repeat 50%; }

.review-1 {
  background-image: url(../img/content/reviews-1.jpg);
  background-size: cover; }

.review-2 {
  background-image: url(../img/content/reviews-2.jpg);
  background-size: cover;
  background-position: 0; }

.review-3 {
  background-image: url(../img/content/reviews-3.jpg);
  background-size: cover; }

.review-4 {
  background-image: url(../img/content/reviews-4.jpg);
  background-size: cover; }

.review-5 {
  background-image: url(../img/content/reviews-5.jpg);
  background-size: cover; }

.review-6 {
  background-image: url(../img/content/reviews-6.jpg);
  background-size: cover; }

.review-7 {
  background-image: url(../img/content/reviews-7.jpg);
  background-size: cover;
  background-position: -100px; }

.review-8 {
  background-image: url(../img/content/reviews-8.jpg);
  background-size: cover; }

.reviews-block__item-opacity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all; 
  padding-left: rem(20px);
  box-sizing: border-box;
}

.reviews-block__item:hover .reviews-block__item-opacity {
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  cursor: pointer;
  background-size: cover;
  opacity: 1; }

.reviews-block__item-name {
  font-family: "gagalin";
  font-weight: normal;
  font-style: normal;
  font-size: rem(16px);
  margin-bottom: rem(20px); }

.reviews-block__item-desc {
  font-family: "ubunturegular";
  font-weight: 200;
  font-size: rem(14px);
  line-height: rem(24px);
  width: 90%;
  margin-bottom: rem(20px); }

.button_gray {
  text-decoration: none;
  background-color: #2f3234;
  transition: .5s all;
}

.button_phones_add {
  display: none;
}

.button_gray:hover {
  background-color: #1f2122;
}

/* Команда */
.team-block {
  background: url(../img/bg/bgteam.jpg);
  background-size: cover;
  position: relative; }

.team-block__overlay {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.team-block__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(51, 54, 56, 0.9);
  align-items: center;
  width: 100%;
}

.title_margin {
  margin-bottom: rem(40px); 
}

.team-block__list {
  list-style: none;
  margin-left: 1.8rem;
  box-sizing: border-box;
  width: 90%;
}

.team-block__item {
  margin-bottom: 2rem;
}

.team-block__item-name::before {
  content: "";
  width: 0;
  height: 0;
  border: 0.5rem solid transparent;
  border-top-color: #f9b43b;
  border-bottom: 0;
  position: absolute;
  top: 0.4rem;
  left: -1.8rem;
  cursor: pointer; }


.accordeon_active .team-block__item-name {
  color: #f9b43b; }

.accordeon_active.team-block__item-name::before {
  transform: rotate(180deg)  ; 
}

.accordeon_active .team-block__item-hidden {
  height: auto; }

.team-block__item-hidden {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;  
}

.team-block__item-name {
  font-family: "gagalin";
  font-size: 1rem;
  display: block;
  margin-bottom: 1.5rem;
  letter-spacing: 0.045rem;
  cursor: pointer; 
  position: relative;
}

.team-block__item-desc {
  font-family: "ubuntulight";
  width: 100%;
  line-height: rem(24px); }

.team-block__item-left {
  width: rem(100px);
  height: rem(100px);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 1rem; }

.team-block__item-right {
  width: 80%;
}

.team-block__item-photo {
  position: absolute;
  right: -31%;
}

.team-block__item-profession {
  font-family: "ubuntubold";
  margin-bottom: 0.7rem;
  display: block; }





/* Меню */





.menu-block {
  background: url(../img/bg/bgmenu.jpg) no-repeat;
  background-size: cover;
  position: relative; }

.title_absolute {
  position: absolute;
  top: 28%;
  left: 12%; }

.title_white {
  color: #fff;
}

.menu-block__accordeon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu-block__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  height: 100%; }

.menu-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-block__item-title {
  background: no-repeat 50%;
  background-color: rgba(20, 20, 20, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: rem(80px);
  cursor: pointer; }

.menu-block__item-rotate {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: "gagalin";
  font-size: 2.2rem; 
  white-space: nowrap;
  padding-left: 51px;
}
  

.menu-block__item-wrapper {
  background-color: rgba(56, 60, 62, 0.93);
  width: 0;
  overflow: hidden; }

.menu-block__desc {
  padding: rem(60px) 0 0 rem(30px);
  font-family: "ubuntulight"; }

.menu-block__visible {
  width: 0;
  opacity: 0;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all; }

.menu-block__item:active .menu-block__visible {
  width: rem(800px);
  opacity: 1; }



/*  Контакты   */



.contact-block {
  position: relative;
  background: url(../img/bg/map.jpg) no-repeat;
  background-position: 50%;
  background-size: cover;
}

.contact-block__map {
  height: 100%;
  width: 100%; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../img/bg/footer.jpg);
  background-repeat: no-repeat;
  background-size: 100% 150%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 58px; }

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.875rem; }

.footer__contacts, .footer__socials {
  width: 50%; }

.footer__socials {
  text-align: right; }

.footer__address {
  font-style: normal;
  font-family: "ubuntulight";
  padding-bottom: 0.5rem; }

.footer__telephone {
  text-decoration: none;
  position: relative; }

.footer__telephone-number {
  color: #e45028;
  font-family: "ubuntubold";
  display: block;
  padding-left: rem(22px); }

.footer__telephone-svg {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  top: 2px;
  left: 2px;
  fill: #e45028; }

.footer__socials-link {
  text-decoration: none;
  width: 20px;
  height: 20px; }

.social__svg {
  width: rem(20px);
  height: rem(20px);
  fill: #525252;
  margin-left: rem(20px);
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.footer__socials-link:nth-child(1) .social__svg {
  margin: 0;
}

.footer__socials-link:hover .social__svg {
  fill: #fff; }




  
/* Доставка */




.form__radio-title, .form__checkbox-title, .form__name, .form__submit, .button-yellow {
  cursor: pointer; }

.delivery-block {
  background: url(../img/bg/bgdilevery.jpg) no-repeat;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.delivery {
  margin-bottom: 2rem; }

.title_center {
  text-align: center;
}

.delivery-block__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.delivery-block__left-content, .delivery-block__right-content {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  font-family: "ubuntulight";
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.delivery-block__right-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 48%;
  margin-bottom: 1.5rem; }

.form__name {
  margin-bottom: 0.5rem; }

.form__input {
  width: 100%;
  height: 2rem;
  border-radius: 3px;
  color: black;
  padding-left: rem(10px);
  outline-color: #f9b43b;
  outline-width: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none; }

.full_width {
  width: 100%; }

.house_desc {
  width: 21%; }

.form__textarea {
  border-radius: 3px;
  resize: none;
  width: 100%;
  height: 8.2rem;
  color: black;
  padding-left: rem(10px);
  padding-top: rem(10px);
  outline-color: #f9b43b;
  outline-width: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.form__checkbox, .form__radio {
  display: none; }

.form__checkbox-title::before {
  content: "";
  width: rem(15px);
  height: rem(15px);
  background-color: #fff;
  position: absolute;
  top: rem(2px);
  left: 0px; }

.form__checkbox-title::after {
  content: "";
  width: rem(15px);
  height: rem(15px);
  background: url(../img/svg/checkbox.svg);
  fill: #e45028;
  position: absolute;
  top: rem(2px);
  left: rem(0px);
  opacity: 0;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }

input[type="checkbox"]:checked + .form__checkbox-title::after {
  opacity: 1; }

.form__radio-title::before {
  content: "";
  width: rem(15px);
  height: rem(15px);
  background-color: #fff;
  position: absolute;
  top: rem(2px);
  left: 0px;
  border-radius: 50%; }

.form__radio-title::after {
  content: "";
  width: rem(7px);
  height: rem(7px);
  background-color: #e45028;
  position: absolute;
  top: rem(6px);
  left: rem(4px);
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }

input[type="radio"]:checked + .form__radio-title::after {
  opacity: 1; }

.form__checkbox-title, .form__radio-title {
  margin-left: rem(25px); }

.form__radio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.form__toggle {
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  position: relative; }

.form__submit {
  margin-right: 1rem; }

.button_yellow {
  background-color: #f9b43b;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.button_yellow:hover {
  background-color: #dda036; }



/* catalog*/

.catalog {
  background: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  align-items: center;
  justify-content: center;
}

.catalog__arrow-img {
  fill: #fff;
}

.next {
  transform: rotate(270deg);
}

.previous {
  transform: rotate(90deg);
  margin-right: rem(10px);
}

.catalog__content {
  display: flex;
  height: 100%;
}

.catalog__content-left,.catalog__content-right {
  width: 50%;
  height: 100%;
}

.catalog__content-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: rem(20px);
}

.catalog__content-left__burger {
  width: 100%;
  height: 100%;
}

.catalog__content-left__burger-wrapper {
  height: rem(315px);
  width: rem(450px);
  position: relative;
}

.catalog__content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: rem(27px);
}

.catalog__arrow-img {
  width: rem(30px);
  height: 30px;
}

.catalog__content-left__composition {
  position: absolute;
  left: 0px;
  top: -100px;
  display:flex;
  padding: rem(14px) rem(23px);
  flex-direction: column;
  background-color: #f08c33;
  border-radius: 5px;
}

.catalog__content-left__composition-name {
  font-family: "gagalin";
  font-size: rem(14px);
  text-align: center;
  line-height: rem(28px);
}

.catalog__content-left__kkal-quantity {
  font-family: "gagalin";
  font-size: rem(14px);
  text-align: center;
  line-height: rem(28px);
}

.catalog__content-left__kkal {
  position: absolute;
  bottom: -90px;
  left: 0px;
  display:flex;
  flex-direction: column;
  opacity: 0.5;
}

.catalog__content-left__composition-icon {
  width: rem(45px);
  height: rem(45px);
  fill: #fff
}

.catalog__content-left__kkal-icon {
  width: rem(60px);
  height: rem(60px);
  fill: #fff
}

.catalog__content-right__title {
  margin-bottom: rem(50px);
  line-height: rem(63px);
}

.catalog__content-right__desc {
  font-family: "ubuntulight", sans-serif;
  line-height: rem(24px);
  margin-bottom: rem(45px);
  font-size: rem(14px);
}


.catalog__content-right__buy {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: baseline;
}

.catalog__content-right__buy-price {
  font-family: "gagalin", sans-serif;
  font-size: rem(72px);
  margin-right: rem(10px);
  color: #e45028;
  line-height: rem(28px);
}

.catalog__content-right__buy-currency {
  font-family: "gagalin", sans-serif;
  font-size: rem(30px);
  margin-right: rem(30px);
  color: #e45028;
}

.catalog__content-right__buy-button {
  font-size: rem(13px);
}

/*# sourceMappingURL=style.css.map */


/* Adaptive*/

html {
  @include tablets {
    font-size: 14px;
  }
  @include phones {
  font-size: 12px;
  }
}

.header {
  @include tablets {
    padding: 0;
  }
}

.navigation-bar {
  @include tablets {
    display: none;
  }
}

.container{
  @media screen and (max-width: 970px) {
    padding: 10px 10px;
    box-sizing: border-box;
  }
}

.navigation__burger-menu-wrapper {
  @include tablets {
    display: flex;
  }
}

.navigation__list li {
  @include tablets {
    display: none;
  }
}

.first-block__desc {
  @include tablets {
    flex-direction: column;
  }
}

.first-block__desc-img {
  @include tablets {
    margin-bottom: 2rem;
    width: rem(300px);
  }
}

.first-block__desc-info {
  @include tablets {
    margin-left: rem(0px);
    text-align: center;
    width: 100%
  }
}

.title_full_width {
  @include tablets {
    margin-left: 0rem;
    width: 100%
  }
}

.section__title {
  @include tablets {
    font-size: 3.5rem;
  }
}

.first-block__desc-title-continue {
  @include tablets {
    margin-left: 0rem;
    width: 100%;
    padding-left: 0.6rem;
    font-size: 2.5rem;
  }
}

.arrow-scroll {
  @include tablets {
    margin-bottom: 0;
  }
}

.team-block__overlay {
  @include tablets {
    width: 100%;
  }
}

.team-block__list {
  @include tablets {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0;
  }
}

.team-block__item {
  @include tablets {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.team-block__item-hidden {
  @include tablets {
    align-items: center;
    flex-flow: column;
  }
}

.team-block__item-name {
  @include tablets {  
    position: relative;
  }
}

.team-block__item-right {
  @include tablets {
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 65%;
  }
}

.team-block__item-left {
  @include tablets {
    margin: 0;
    margin-bottom: 1rem;
  }
}

.menu-block__item:active .menu-block__visible{
  @include tablets {
    width: rem(350px);
  }
}

.reviews-block__item {
  @include tablets {
    width: 50%;
    height: 25%;
  }
}

.review-7 {
  @include tablets {
    background-position: 0px;
  }
}

.reviews-block__item-opacity {
  @include tablets {
    text-align: center;
    align-items: center;
  }
}

.reviews-block__item-name {
  @include tablets {
    margin-bottom: 0.4rem;
  }
}

.reviews-block__item-desc {
  @media screen and (max-width: 870px) {
    height: rem(190px);
    overflow: hidden;
  }
  @include tablets {
    margin-bottom: 0.4rem;
    height: rem(70px);
    overflow: hidden;
  }
}

.delivery-block__form {
  @include tablets {
    flex-direction: column;
    align-items: center;
    font-size: rem(12px);
  }
}

.form__label {
  @include tablets {
    margin-bottom: 0.9rem;
  }
}


/* phones */

.features-block__list {
  @include phones {
    flex-direction: column;
  }
}

.features-block__item {
  @include phones {
    flex-direction: row;
  }
}

.features-block__img-wrapper {
  @include phones {
    margin-right: 2rem;
    margin-left: 1rem;
  }
}

.features-block__desc-wrapper {
  @include phones {
    align-items: flex-start;
  }
}

.features-block__item-title,.features-block__item-desc {
  @include phones {
   text-align: left;
   font-size: 0.8rem;
   line-height: rem(20px);
   margin-bottom: rem(8px);
  }
}

.features-block__item-title {
  @include phones {
    font-size: 1.2rem;
  }
}

.team-block__item-name {
  @include phones {
    font-size: 1.2rem;
  }
}

.team-block__item-name::before {
  @include phones {
    top: 50%;
  }
}


.reviews-block__item-desc,.button_phones_delete {
  @include phones {
    display: none;
  }
}

.button_phones_add {
  @include phones {
    display: block;
  }
}

.reviews-block__item-name {
  @include phones {
    font-size: 2rem;
  }
}

.delivery-block__left-content,.delivery-block__right-content {
  @include phones {
    width: 98%;
  }
}

.delivery-block__right-content {
  @include phones {
    align-items: center;
  }
}

.form__checkbox-title::after {
  @include phones {
    top: -1px;
    left: -1px
  }
}

.floor_phones_delete {
  @include phones {
    display: none;
  }
}

.form__textarea {
  @include phones {
    height: 4rem;
  }
}

.form__radio-wrapper {
  @include phones {
    width: auto;
  }
}

.margin_phones_no {
  @include phones {
    margin-right: 0;
  }
}

.form__toggle {
  @include phones {
    margin-bottom: 2.5rem;
  }
}

.house_desc {
  @include phones {
    width: 30%;
  }
}

.footer__content {
  @include phones {
    flex-direction: column;
    align-items: center;
  }
}

.footer__contacts {
  @include phones {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__socials {
  @include phones {
    text-align: center;
  }
}


.footer__address {
  @include phones {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .catalog__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; } }

@media screen and (max-width: 768px) {
  .catalog__arrow {
    margin: 0 rem(45px); } }

@media screen and (max-width: 768px) {
  .catalog__content-left, .catalog__content-right {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 0; } }

.catalog__content-left {
  @include tablets {
    height: 60%
  }
}

.catalog__content-right {
  @include tablets {
    height: 40%
  }
}

@media screen and (max-width: 768px) {
  .catalog__content-left {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 1.875rem; } }

.catalog__content-left__burger-wrapper {
  @include tablets {
    width: rem(300px);
    height: rem(220px);
  }
}

@media screen and (max-width: 768px) {
  .catalog__content-right {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; } }

.catalog__content-right__title {
  @include tablets {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}

.catalog__content-right__desc {
  @include tablets {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }
}

.catalog__content-right__buy-button {
  @include tablets {
    font-size: 0.7rem;
  }
}

.catalog__content-right__buy-price {
  @include tablets {
    font-size: 3rem;
  }
}
.catalog__content-right__buy-currency {
  @include tablets {
    font-size: 1.2rem;
  }
}



@media screen and (max-width: 768px) {
  .catalog__content-left__composition {
    top: rem(-110px);
    left: rem(-20px); } }

@media screen and (max-width: 768px) {
  .catalog__content-left__kkal-wrapper {
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0; } }

@media screen and (max-width: 768px) {
  .catalog__content-left__kkal {
    left: rem(250px);
    bottom: rem(245px); } }

@media screen and (max-width: 768px) {
  .catalog__content-right__buy {
    width: auto;
  } }

@media screen and (max-width: 480px) {
  .catalog__content-left__composition {
    left: rem(-40px);
    top: rem(-110px); } }

@media screen and (max-width: 480px) {
  .catalog__content-left__composition-icon {
    width: rem(50px);
    height: rem(45px); } }

@media screen and (max-width: 480px) {
  .catalog__content-left__composition-name {
    font-size: rem(14px); } }

@media screen and (max-width: 480px) {
  .catalog__content-left__kkal {
    left: rem(270px);
    bottom: rem(240px);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; } }

@media screen and (max-width: 480px) {
  .catalog__content-left__kkal-icon {
    width: rem(70px);
    height: rem(60px); } }

@media screen and (max-width: 480px) {
  .catalog__content-left__kkal-quantity {
    font-size: rem(14px); } }

@media screen and (max-width: 480px) {
  .catalog__arrow {
    margin: 0; } }
/* Adaptive end */